/.bundle/
/gemfiles/.bundle/
/gemfiles/*.lock
/gemfiles/vendor
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/dummy/
/tmp/
.idea/
Gemfile.lock
# rspec failure tracking
.rspec_status
.byebug_history
/vendor
.DS_Store